    /*===========Reset css========*/
    
    body {
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box;
        overflow-x: hidden;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
    }
    /*------reset css-------*/
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    small,
    strong,
    a,
    p {
        margin: 0;
        padding: 0;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    /*===========Header========*/
    
    header {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .header-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        clip-path: polygon(0 0, 100% 0, 100% 31%, 0 44%);
        background-image: linear-gradient(to left bottom, #f1706b, #ad959c75, #89456e54, #fff0, #524a90);
    }
    /*-----main navbar------*/
    
    .main-navbar .navbar-brand span:nth-child(1) {
        color: #ffffff;
        font-weight: bold;
    }
    
    .main-navbar .navbar .nav-item {
        position: relative;
        margin-left: 50px;
        font-size: .9rem;
    }
    
    .main-navbar .nav-link {
        color: #eee !important;
        transition: .5s ease;
    }
    
    .main-navbar .nav-link.active {
        color: #ff7800 !important;
    }
    
    .main-navbar .nav-link:hover {
        color: #ff7800 !important;
    }
    
    .main-navbar .nav-link:hover {
        color: #1b3d9f;
    }
    
    .main-navbar .nav-link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0rem;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #ff7800;
        visibility: hidden;
        width: 0px;
        transition: all 0.3s ease-in-out 0s;
        font-family: 'Lobster', cursive;
    }
    
    .main-navbar .navbar a:hover:before,
    .navbar li:hover>a:before,
    .navbar .active:before {
        visibility: visible;
        width: 100%;
    }
    
    .main-navbar .navbar-nav:nth-child(2) .nav-link:before {
        display: none;
    }
    
    #signUp {
        background: #5c5590;
        padding: .5rem 2rem .5rem 2rem;
        color: white !important;
        font-weight: bold;
        border-radius: .2rem;
    }
    
    #signUp:hover {
        color: #ff7800 !important;
    }
    
    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
        border: none !important;
    }
    /*-----section-one-------*/
    /*-----section -one------*/
    
    .section-one {
        position: relative;
        height: 100%;
    }
    
    .section-one .card {
        z-index: 1;
    }
    
    .section-one .hero-content {
        z-index: 1;
    }
    /*-----hero section-----*/
    
    .hero-elements .hero-content {
        width: 23.5rem;
    }
    
    .hero-elements .hero-btn {
        width: 10rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero-elements .hero-btn button {
        width: 10rem;
        height: 10rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid #eee;
        border-radius: 50%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        background: none;
        color: white;
        padding: 1rem;
        transition: .5s ease;
    }
    
    .hero-elements .hero-btn button:hover {
        background: #5f5891;
        color: #ff7800;
    }
    
    .hero-elements .hero-card {
        width: 360px;
    }
    
    .hero-card a .ratio {
        border-top-left-radius: .2rem;
        border-top-right-radius: .2rem;
    }
    
    .hero-card a .ratio img {
        border-top-left-radius: .2rem;
        border-top-right-radius: .2rem;
    }
    
    .hero-card .hero-card-content {
        background: white;
        padding: 2.2rem 3rem 3rem 3rem;
    }
    
    .hero-card-content .sub-title {
        font-size: 1rem;
        color: #AEB1B6;
    }
    
    .hero-card-detail .price-box span {
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    .hero-card-detail ul li {
        font-size: .8rem;
        margin-left: .2rem;
        color: #ff7800;
    }
    
    .hero-card-detail .rating-box span {
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    .hero-card-btn-group button {
        font-size: 1rem;
        font-weight: bold;
        text-transform: capitalize;
        padding: .5rem .5rem .5rem .5rem;
        border: none;
        border-radius: .2rem;
        transition: .5s ease;
    }
    
    .hero-card-btn-group button:nth-child(1) {
        background: #FF7468;
        color: white;
    }
    
    .hero-card-btn-group button:nth-child(2):hover {
        background: #FF7468;
        color: white;
    }
    
    .hero-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .hero-content .title-group .title {
        font-size: 4rem;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        width: 405px;
    }
    
    .hero-content .title-group .sub-title {
        font-size: .8rem;
        color: white;
        text-transform: uppercase;
        width: 410px;
    }
    
    .hero-content button {
        padding: 2rem;
        width: 150px;
        height: 150px;
        border: .1rem solid #eee;
        background: none;
        border-radius: 50%;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        transition: .5s ease;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero-content button:hover {
        background: #625c94;
    }
    
    .hero-card-inner .hero-card-contents {
        background: white;
    }
    /*-----hero list------*/
    
    .mentor-box img {
        max-width: 100px;
        max-height: 250px;
        margin-top: -30px;
    }
    
    .mentor-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .bg-position {
        position: relative;
    }
    
    .bg-position:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: #3A3374;
        z-index: -1;
        bottom: 0;
        left: 0;
        border-radius: .2rem;
    }
    
    .mentor-box .text {
        font-size: 1.5rem;
        max-width: 150px;
        text-align: center;
        font-weight: bold;
        color: white;
        line-height: 1;
        text-transform: capitalize;
    }
    
    .mentor-box .icon-play i {
        font-size: 40px;
        color: #ff7800;
    }
    
    .hero-list-box .number {
        font-size: 2rem;
        font-weight: bold;
        color: white;
        position: relative;
    }
    
    .hero-list-box .number:after {
        content: '';
        display: block;
        width: 100%;
        height: 5%;
        position: absolute;
        background: orange;
        right: -40px;
        top: 16px;
    }
    
    .hero-list-content .title {
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }
    
    .hero-list-content .text {
        font-size: .9rem;
        color: white;
    }
    
    .hero-play-btn {
        font-size: 2rem;
        color: #ff7800;
    }
    
    .hero-play-btn {
        font-size: 2rem;
        color: #FF7468;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center
    }
    /*--------section two---------*/
    
    .learning-program-list {
        width: 300px;
        height: auto;
        background: #fff;
        margin-top: 10px;
        padding: 3rem 0rem 3rem 0rem;
        border-radius: .2rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
    
    .learning-program-list .icon-box {
        padding: 1rem;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    
    .learning-program-list .icon-box i {
        font-size: 1.5rem;
    }
    
    .learning-program-list .text-box .title {
        font-size: 1.1rem;
        text-transform: capitalize;
        font-weight: bold;
        color: black;
    }
    
    .learning-program-list .text-box .sub-title {
        font-size: .9rem;
        text-transform: capitalize;
        color: black;
    }
    
    .learning-program-list .box-one .icon-box {
        background: #FFF0E9;
    }
    
    .learning-program-list .box-one .icon-box i {
        color: #FF766A;
    }
    
    .learning-program-list .box-two .icon-box {
        background: #E1DDFF;
    }
    
    .learning-program-list .box-two .icon-box i {
        color: #7765FF;
    }
    
    .learning-program-list .box-three .icon-box {
        background: #FFF6DD;
    }
    
    .learning-program-list .box-three .icon-box i {
        color: #F5B70A;
    }
    
    .learning-program-list .box-four .icon-box {
        background: #EDF8F4;
    }
    
    .learning-program-list .box-four .icon-box i {
        color: #06DE90;
    }
    
    .section-two {
        position: relative;
    }
    
    .section-two:after {
        content: '';
        display: block;
        width: 40%;
        height: 100%;
        background: #F8F8FF;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    .content-box-section-two {
        padding: 1rem;
    }
    
    .content-box-section-two span {
        font-size: 1rem;
        color: #ff7468;
        font-weight: bold;
    }
    
    .content-box-section-two .title {
        font-size: 2.5rem;
        font-weight: bold;
        max-width: 350px;
        line-height: 1;
        color: rgb(0, 0, 0);
        padding-block: 1rem;
    }
    
    .content-box-section-two .text {
        max-width: 350px;
        font-size: .9rem;
        padding-block: .5rem;
    }
    
    .content-box-section-two button {
        padding: .2rem 2rem .2rem 2rem;
        font-size: 1.2rem;
        text-transform: capitalize;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: .2rem;
        background: #ff7468;
        color: white;
    }
    /*-----section three------*/
    /*-----catagory slider-------*/
    
    .section-title h6 {
        font-weight: 600;
        text-transform: capitalize;
        color: #ff7468;
    }
    
    .section-title h1 {
        text-transform: capitalize;
        font-weight: bold;
        padding-block: 1rem;
        font-size: 2rem;
    }
    
    .section-title p {
        max-width: 500px;
        margin: auto;
    }
    
    .catagory-slider .item-inner {
        width: 250px;
        height: 300px;
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    
    .catagory-slider .item-inner .icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .catagory-slider .item-inner .icon i {
        font-size: 2.8rem;
    }
    
    .catagory-slider .item-inner h4 {
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        max-height: 50px;
        overflow: hidden;
        color: black;
        line-height: 1.1;
        width: 200px;
        text-transform: capitalize;
    }
    
    .catagory-slider .item-inner p {
        text-align: center;
        color: black;
        margin-top: .5rem;
    }
    
    .catagory-slider {
        position: relative;
    }
    
    .catagory-slider .owl-nav.disabled {
        display: block !important;
    }
    
    .catagory-slider .owl-nav button:nth-child(1) {
        position: absolute;
        top: 0;
        left: -18px;
        bottom: 0;
        display: flex;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        background: #ff7468;
        width: 50px;
        height: 50px;
        margin: auto;
        color: white;
    }
    
    .catagory-slider .owl-nav button:nth-child(2) {
        position: absolute;
        top: 0;
        right: -18px;
        bottom: 0;
        display: flex;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        background: #ff7468;
        width: 50px;
        height: 50px;
        margin: auto;
        color: white;
    }
    
    .catagory-slider .owl-nav button span {
        font-size: 30px;
        font-weight: bolder;
        margin-top: -3px;
    }
    
    .catagory-slider .owl-stage-outer {
        padding-block: 1rem;
    }
    
    .browse-all {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: .3rem 2rem .3rem 2rem;
        border: none;
        background: #ff7468;
        color: white;
        font-size: 1.2rem;
        text-transform: capitalize;
    }
    /*-------section four---------*/
    
    .section-four {
        background: #F8F8FF;
    }
    
    .populer-courses {
        background: rgb(255, 255, 255);
        padding: .5rem;
        border-radius: .2rem;
    }
    
    .populer-courses .ratio img {
        border-radius: .2rem;
    }
    
    .populer-courses .content-box strong {
        font-size: .9rem;
        font-weight: 500;
        text-transform: capitalize;
        color: #A1A1A1;
        ;
    }
    
    .populer-courses .content-box .title {
        max-height: 65px;
        overflow: hidden;
        font-size: 2rem;
        color: black;
        font-weight: bold;
        line-height: 1;
    }
    
    .populer-courses .img-box img {
        max-width: 40px;
        height: 40px;
        border-radius: 50px;
    }
    
    .populer-courses .info-box span {
        font-size: 1rem;
        font-weight: 600;
    }
    
    .populer-courses .course-list a {
        background: #F2F3F5;
        font-size: .7rem;
        padding: .2rem 1rem .2rem 1rem;
        border-radius: 20px;
        color: #A1A1A1;
        text-transform: capitalize;
    }
    
    .populer-courses .content-box {
        padding: 1rem;
    }
    
    .populer-courses .rating-box span:nth-child(1) {
        font-size: 1.5rem;
        font-weight: bold;
        color: #FFB1AA;
    }
    
    .populer-courses .rating-box span:nth-child(2) {
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
    }
    
    .populer-courses .rating-box ul li {
        margin-left: .2rem;
        color: #F5B70A;
    }
    /*---------section----------*/
    
    .teacher-data {
        background: #eee;
        padding: .5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    
    .teacher-data .ratio img {
        border-radius: .2rem;
    }
    
    .teacher-data .profile {
        background: #ff7468;
        padding: .6rem 2rem .6rem 2rem;
        border-radius: .2rem;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        text-transform: capitalize;
    }
    
    .teacher-data .profile-image {
        width: 30%;
    }
    
    .teacher-data .teacher-detail {
        width: 70%;
    }
    
    .teacher-data .teacher-detail .title {
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: bold;
    }
    
    .teacher-data .teacher-detail .suv-title {
        font-size: 1rem;
        text-transform: capitalize;
        font-weight: bold;
    }
    
    .teacher-data .teacher-detail .text {
        font-size: 1rem;
        width: 350px;
        overflow: hidden;
        line-height: 1.3;
        max-height: 4rem;
        text-transform: capitalize;
    }
    /*------section six-----*/
    
    .section-six {
        background: #6159A2;
    }
    
    .noot-box {
        background: white;
        border-radius: .2rem;
        padding: 2rem 0rem 2rem 0rem
    }
    
    .studient-note .noot-box svg {
        font-size: 3rem;
        font-weight: bold;
        color: #f5b70a;
    }
    
    .studient-note .noot-box {
        text-align: center;
    }
    
    .studient-note .noot-box .text {
        font-size: .9rem;
        max-height: 60px;
        line-height: 1.4;
        overflow: hidden;
    }
    
    .studient-note .noot-box img {
        width: 150px;
        height: 150px;
        margin: auto;
        border-radius: 50%;
        border: 1px solid gray;
        padding: .3rem;
    }
    
    .studient-note .noot-box .name {
        font-size: 1.5rem;
        text-transform: capitalize;
        font-weight: bold;
    }
    
    .studient-note .noot-box .title {
        font-size: 1rem;
        text-transform: capitalize;
    }
    
    .studient-note {
        position: relative;
    }
    
    .studient-note .owl-nav.disabled {
        display: block !important;
    }
    
    .studient-note .owl-nav .owl-next svg {
        position: absolute;
        top: -50px;
        right: 0;
        font-size: 2rem;
        color: white;
        background: orange;
        width: 20px;
        padding: .5rem;
        border-radius: 50px;
        height: 20px;
    }
    
    .studient-note .owl-nav .owl-prev svg {
        position: absolute;
        top: -50px;
        right: 50px;
        font-size: 2rem;
        color: white;
        background: orange;
        width: 20px;
        padding: .5rem;
        border-radius: 50px;
        height: 20px;
    }
    /*------section seven--------*/
    
    .section-seven {
        background: #F8F8FF;
    }
    
    .content-of-contact {
        background: #FF7468;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content-of-contact .title {
        font-size: 2.5rem;
        font-weight: bold;
        max-width: 300px;
        text-align: left;
        color: white;
    }
    
    .contact-form h1 {
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    .contact-form {
        width: 70% !important;
        background: white;
        padding: 1rem;
    }
    
    .contact-form .form-group input:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #ff7468 !important;
    }
    
     ::placeholder {
        text-transform: capitalize;
        font-size: 1rem;
    }
    
    .get-it-now {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: .5rem 2rem .5rem 2rem;
        border-radius: .2rem;
        border: none;
        background: black;
        color: white;
        text-transform: capitalize;
        font-weight: bold;
    }
    /*-----footer section------*/
    
    .footer-box .footer-logo a {
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin: auto;
        display: flex;
        width: fit-content;
        padding: .2rem 1rem .3rem 1rem;
        justify-content: center;
        align-items: center;
    }
    
    .footer-box .text {
        text-align: center;
        font-size: .9rem;
        max-height: 55px;
        overflow: hidden;
        line-height: 1.3;
    }
    
    .footer-email-box {
        display: flex;
        position: relative;
    }
    
    .footer-email-box input:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #ff7468 !important;
    }
    
    .footer-email-box input {
        height: 45px;
        background: #FFF0E9;
        border: none;
        border-radius: .5rem;
    }
    
    .footer-email-box button {
        background: #ff7468;
        border: none;
        border-radius: .5rem;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        top: 0;
        right: 5px;
        bottom: 0;
        margin: auto;
    }
    
    .footer-email-box button i {
        margin-top: 4px;
    }
    
    .footer-box .title {
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    .footer-box .links li {
        margin-top: 10px;
    }
    
    .footer-box .links li a {
        font-size: 1rem;
        text-transform: capitalizea;
        color: black;
        transition: .5s ease;
    }
    
    .footer-box .links li a:hover {
        font-weight: bold;
    }