/*===========Reset css========*/

body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}


/*------reset css-------*/

h1,
h2,
h3,
h4,
h5,
h6,
span,
small,
strong,
a,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.template-box-shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.template-box-shadow-two {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.bg-div-one {
    background: #000836;
}


/*==============reset css end here==========*/


/*===========Header styling start from here========*/

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.header-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 31%, 0 44%);
    background-image: linear-gradient(to left bottom, #f1706b, #ad959c75, #89456e54, #fff0, #001e5d);
}


/*===========main navabar styling start from here========*/


/* 
.navbar-scroll {
    background: none;
    z-index: 999 !important;
}

.navbar-scroll-down {
    background: #000836;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    z-index: 111;
} */

.sticky {
    background: #000836;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    z-index: 111;
    border-bottom: 1px solid #d91879;
    transition: .5s ease;
}

.navbar-brand {
    color: white !important;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: bolder;
    padding: .0rem .5rem .1rem .5rem;
    width: fit-content;
    transition: .5s ease;
}

.main-navbar .navbar .nav-item {
    position: relative;
    margin-left: 5rem;
    font-size: .9rem;
    font-weight: bold;
    transition: .5s ease;
}

.main-navbar .nav-link {
    color: #eee !important;
    transition: .5s ease;
}

.main-navbar .nav-link.active {
    color: #ff7468 !important;
}

.main-navbar .nav-link:hover {
    color: #ff7468 !important;
}

.main-navbar .nav-link:hover {
    color: #1b3d9f;
}

.main-navbar .nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ff7468;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
    font-family: 'Lobster', cursive;
}

.main-navbar .navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.main-navbar .navbar-nav:nth-child(2) .nav-link:before {
    display: none;
}

#signUp {
    padding: .5rem 2rem .5rem 2rem;
    color: white !important;
    font-weight: bold;
    border-radius: .2rem;
    transition: .5s ease;
    background: #453d80;
}

.mfp-close {
    background: #ffa500 !important;
    width: 30px !important;
    height: 30px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 50px;
    padding: 0 !important;
    right: 10px !important;
}

#signUp:hover {
    color: #FF7468 !important;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    border: none !important;
}


/*===========main navabar styling start from here========*/


/*===========Header styling end here========*/


/*===========section one styling start from here========*/

.section-one {
    position: relative;
    height: 100%;
}


/*-----hero content------*/

.hero-elements .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 25.4rem;
}


/*-----hero button--------*/

.hero-elements .hero-btn {
    width: 10rem;
    border-radius: 50%;
    margin-top: 8rem;
}

.hero-elements .hero-btn button {
    width: 10rem;
    height: 10rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #eee;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background: none;
    color: white;
    padding: 1rem;
    transition: .5s ease;
}

.hero-elements .hero-btn button:hover {
    background: #5f5891;
    color: #ff7468;
}

.hero-content .title-group .title {
    font-size: 4rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    width: 405px;
    transition: .5s ease;
}

.hero-content .title-group .sub-title {
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
    width: 19rem;
    max-height: 23px;
    overflow: hidden;
    line-height: 1.2;
    padding: 0rem .2rem 0rem .2rem;
    transition: .5s ease;
}

.hero-content button {
    padding: 2rem;
    width: 150px;
    height: 150px;
    border: .1rem solid #eee;
    background: none;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    transition: .5s ease;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content button:hover {
    background: #625c94;
}

.circle {
    background: #ff7468;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    cursor: pointer;
}

.circle:before {
    content: "";
    background: #ff7468;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-radius: 120px;
    -webkit-transition: all 220ms linear;
    -moz-transition: all 220ms linear;
    transition: all 220ms linear;
    transition: .5s ease;
}

.circle:hover:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*------hero template card-----*/

.hero-elements .template-card {
    width: 23.5rem;
    transition: .5s ease;
    z-index: 1;
}

.section-one .card {
    z-index: 1;
}

.template-card a .ratio {
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}

.template-card a .ratio img {
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}

.template-card .template-card-content {
    background: white;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.template-card-title-group .title {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.template-card-title-group .sub-title {
    font-size: .9rem;
    text-transform: capitalize;
    font-weight: bold;
    color: #AEB1B6;
}

.template-card-detail .price-box span {
    font-size: 1.2rem;
    font-weight: bold;
}

.template-card-detail ul li {
    font-size: .8rem;
    margin-left: .2rem;
    color: #ff7468;
}

.template-card-detail .rating-box span {
    font-size: 1.2rem;
    font-weight: bold;
}

.template-card-btn-group button {
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    padding: .5rem .5rem .5rem .5rem;
    border: none;
    border-radius: .2rem;
    transition: .5s ease;
}

.template-card-btn-group button:nth-child(1) {
    background: #FF7468;
    color: white;
}

.template-card-btn-group button:nth-child(2):hover {
    background: #FF7468;
    color: white;
}


/*-----hero mentor list------*/

.hero-list-row .col-xl-4 {
    transition: .5s ease;
}

.mentor-box img {
    max-width: 100px;
    max-height: 250px;
    margin-top: -30px;
}

.mentor-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bg-position {
    position: relative;
}

.bg-position:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000836;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-radius: .2rem;
}

.mentor-box .text {
    font-size: 1.5rem;
    max-width: 150px;
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: 1;
    text-transform: capitalize;
    transition: .5s ease;
}

.mentor-box .icon-play i {
    font-size: 40px;
    color: #ff7468;
}

.hero-list-box {
    width: 55px;
    height: fit-content;
    padding: 0rem .1rem 0rem .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-list-box .number {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    position: relative;
}

.hero-list-box .number:after {
    content: '';
    display: block;
    width: 80%;
    height: 5%;
    position: absolute;
    background: orange;
    right: -46px;
    top: 20px;
}

.hero-list-content {
    width: 300px;
}

.hero-list-content .title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    width: fit-content;
    text-transform: capitalize;
    max-height: 77px;
    overflow: hidden;
    line-height: 1.1;
    padding: .3rem .5rem .5rem .5rem;
}

.hero-list-content .text {
    font-size: .9rem;
    font-weight: bold;
    color: white;
    width: fit-content;
    text-transform: capitalize;
    max-height: 44px;
    overflow: hidden;
    line-height: 1.3;
    padding: 0.3rem .5rem .5rem .5rem;
}

.hero-play-btn {
    font-size: 2rem;
    color: #ff7468;
}

.hero-play-btn {
    font-size: 2rem;
    color: #FF7468;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center
}


/*===========section one styling end here========*/


/*===========section two styling start from here========*/

.section-two {
    position: relative;
}

.section-two:after {
    content: '';
    display: block;
    width: 40%;
    height: 100%;
    background: #F8F8FF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


/*--------learning-program-------*/

.learning-program-list {
    width: 50%;
    background: white;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.learning-program-list .single-list {
    height: 150px;
    transition: .5s ease;
}

.learning-program .learning-program-list .icon-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.learning-program .text-box {
    width: 70%;
}

.learning-program .learning-program-list .text-box .title {
    width: fit-content;
    font-size: 1.3rem;
    font-weight: bold;
    color: #3e3e3e;
    max-height: 30px;
    overflow: hidden;
    padding: .2rem .2rem .2rem .2rem;
    text-transform: capitalize;
}

.learning-program-list .single-list {
    width: 90%;
    margin: auto;
}

.learning-program-list .text-box .sub-title {
    color: #6b6b6b;
    padding: .2rem .2rem .2rem .2rem;
    height: 24px;
    overflow: hidden;
    width: fit-content;
    text-transform: capitalize;
    font-size: .9rem;
}

.learning-program-list .icon-one i {
    color: #FF766A;
    font-size: 1.5rem;
}

.learning-program-list .icon-one {
    background: #FFF0E9;
}

.learning-program-list .icon-two i {
    color: #7765FF;
    font-size: 1.5rem;
}

.learning-program-list .icon-two {
    background: #E1DDFF;
}

.learning-program-list .icon-three i {
    color: #F5B70A;
    font-size: 1.5rem;
}

.learning-program-list .icon-three {
    background: #FFF6DD;
}

.learning-program-list .icon-four i {
    color: #06DE90;
    font-size: 1.5rem;
}

.learning-program-list .icon-four {
    background: #EDF8F4;
}

.learning-program-list:hover {
    background: #000836;
}

.learning-program-list:hover .title {
    color: white !important;
}

.learning-program-list:hover .sub-title {
    color: white !important;
}


/*------div content-------*/

.div-content {
    padding: 1rem;
}

.div-content .sub-title {
    font-size: 1rem;
    color: #ff7468;
    font-weight: bold;
    text-transform: capitalize;
    padding: .2rem .2rem .2rem .2rem;
    max-height: 25px;
    max-width: 350px;
    overflow: hidden;
}

.div-content .title {
    font-size: 2.3rem;
    font-weight: bold;
    max-width: 350px;
    max-height: 85px;
    line-height: 1.1;
    padding: .2rem .2rem .2rem .2rem;
    overflow: hidden;
    color: rgb(0, 0, 0);
}

.div-content .text {
    max-width: 350px;
    font-size: .9rem;
    padding-block: .5rem;
    max-height: 44px;
    line-height: 1.3;
    padding: .2rem .2rem .2rem .2rem;
    overflow: hidden;
}

.div-content button {
    padding: .2rem 2rem .2rem 2rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .2rem;
    background: #ff7468;
    color: white;
}


/*===========section two styling end here========*/


/*===========section three styling start from here========*/


/*-----catagory slider-------*/

.catagory-slider .course-box:hover {
    background: #453d80;
}

.catagory-slider .item {
    overflow: hidden;
    padding-block: 2rem;
    transition: .5s ease;
}

.course-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.catagory-slider .course-box .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.catagory-slider .course-box .icon i {
    font-size: 2.8rem;
}

.catagory-slider .course-box h4 {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    max-height: 50px;
    overflow: hidden;
    color: #3e3e3e;
    line-height: 1.1;
    text-transform: capitalize;
    transition: .5s ease;
}

.catagory-slider .course-box p {
    text-align: center;
    color: #3e3e3e;
    margin-top: .5rem;
    transition: .5s ease;
}

.catagory-slider .course-box:hover h4 {
    color: white;
}

.catagory-slider .course-box:hover p {
    color: white;
}

.catagory-slider {
    position: relative;
}

.catagory-slider .owl-nav.disabled {
    display: block !important;
}

.catagory-slider .owl-nav button:nth-child(1) {
    position: absolute;
    top: 0;
    left: -55px;
    bottom: 0;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background: #ff7468;
    width: 50px;
    height: 50px;
    margin: auto;
    color: white
}

.catagory-slider .owl-nav button:nth-child(2) {
    position: absolute;
    top: 0;
    right: -55px;
    bottom: 0;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ff7468;
    width: 50px;
    height: 50px;
    margin: auto;
    color: rgb(5, 4, 4);
    transition: .5s ease;
}

.catagory-slider .owl-nav button span {
    font-size: 30px;
    font-weight: bolder;
    margin-top: -3px;
}

.catagory-slider .owl-nav button:nth-child(2):hover {
    background: #f1706b;
    color: white !important;
}

.browse-all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: .3rem 2rem .3rem 2rem;
    border: none;
    background: #ff7468;
    color: white;
    font-size: 1.2rem;
    text-transform: capitalize;
    transition: .5s ease;
}


/*===========section three styling end here========*/


/*===========section four styling start from here========*/

.section-four {
    background: #F8F8FF;
}


/*-----section title-----*/

.section-title-color .title {
    color: white !important;
}

.section-title-color .text {
    color: white !important;
}

.section-title .sub-title {
    font-weight: 600;
    text-transform: capitalize;
    color: #ff7468;
    max-width: 300px;
    margin: auto;
    padding: .2rem .2rem .2rem .2rem;
    max-height: 24px;
    overflow: hidden;
}

.section-title .title {
    text-transform: capitalize;
    font-weight: bold;
    max-width: 400px;
    padding: .2rem .2rem .2rem .2rem;
    max-height: 45px;
    overflow: hidden;
    margin: auto;
    font-size: 2rem;
}

.section-title .text {
    max-width: 300px;
    margin: auto;
    line-height: 1.2;
    overflow: hidden;
    max-height: 44px;
    padding: .2rem .2rem .2rem .2rem;
}


/*------populer cours------*/

.populer-courses {
    background: rgb(255, 255, 255);
    padding: .5rem;
    border-radius: .2rem;
    transition: .5s ease;
}

.populer-courses .ratio img {
    border-radius: .2rem;
}

.populer-courses .content-box h6 {
    font-size: .9rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #A1A1A1;
    max-height: 24px;
    width: fit-content;
    padding: .2rem .2rem .2rem .2rem;
    overflow: hidden;
    transition: .5s ease;
}

.populer-courses .content-box .title {
    overflow: hidden;
    font-size: 2rem;
    color: #3e3e3e;
    font-weight: bold;
    line-height: 1;
    max-height: 76px;
    line-height: 1.1;
    padding: .1rem .2rem .2rem .2rem;
    text-transform: capitalize;
    transition: .5s ease;
}

.populer-courses .course-list a {
    background: #F2F3F5;
    font-size: .8rem;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 20px;
    color: #A1A1A1;
    text-transform: capitalize;
    transition: .5s ease;
}

.populer-courses .img-box img {
    min-width: 40px;
    height: 40px;
    border-radius: 50px;
}

.populer-courses .img-box {
    width: 65%;
}

.populer-courses .course-list {
    width: 35%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.populer-courses .info-box p {
    font-size: 1rem;
    font-weight: 600;
    padding: .1rem .2rem .2rem .2rem;
    width: fit-content;
    max-height: 26px;
    width: 200px;
    overflow: hidden;
}

.populer-courses .content-box {
    padding: 1rem;
}

.populer-courses .rating-box span:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFB1AA;
}

.populer-courses .rating-box span:nth-child(2) {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3e3e3e;
}

.populer-courses .rating-box ul li {
    margin-left: .2rem;
    color: #F5B70A;
}


/*===========section four styling end here========*/


/*===========section five styling start from here========*/


/*-----teacher detail--------*/

.teacher-data:hover {
    background: #000836;
}

.teacher-data:hover .title {
    color: white !important;
}

.teacher-data:hover .sub-title {
    color: white !important;
}

.teacher-data:hover .text {
    color: white;
}

.teacher-data .ratio {
    position: relative;
    overflow: hidden;
}

.teacher-data {
    background: white;
    transition: .5s ease;
}

.teacher-data .ratio img {
    transition: .5s ease;
}

.teacher-data .view-profile {
    background: #ff7468;
    padding: .5rem 1.5rem .5rem 1.5rem;
    border-radius: .2rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    border: none;
    transition: .5s ease;
}

.teacher-data .profile-image {
    width: 50%;
    transition: .5s ease;
}

.teacher-data .teacher-detail {
    width: 50%;
    transition: .5s ease;
}

.teacher-data .teacher-detail .title {
    overflow: hidden;
    font-size: 2rem;
    color: #3e3e3e;
    font-weight: bold;
    line-height: 1;
    max-height: 40px;
    line-height: 1.1;
    padding: .1rem .2rem .2rem .2rem;
    text-transform: capitalize;
}

.teacher-data .teacher-detail .sub-title {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: .2rem .2rem .2rem .2rem;
    max-height: 25px;
    line-height: 1.2;
    overflow: hidden;
}

.teacher-data .teacher-detail .text {
    font-size: 1rem;
    width: 100%;
    max-height: 70px;
    overflow: hidden;
    line-height: 1.4;
    padding: .2rem .2rem .2rem .2rem;
    text-transform: capitalize;
}


/*===========section five styling end here========*/


/*===========section six styling start from here========*/

.section-six {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

.section-six:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    /* background: #000836; */
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right top, #f1706b, #ad959c75, #89456e54, #fff0, #001e5d);
}


/*---noot----*/

.noot-box {
    width: 95%;
    margin: auto;
    height: 300px;
}

.studient-note .item {
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noot-box {
    text-align: center;
}

.noot-box .text {
    font-size: 1.2rem;
    max-height: 60px;
    padding: .1rem .2rem .2rem .2rem;
    line-height: 1.4;
    overflow: hidden;
    color: white;
    transition: .5s ease;
}

.noot-box .text .quote-one {
    color: white;
    font-size: 1rem;
    transition: .5s ease;
}

.noot-box .text .quote-two {
    color: white;
    font-size: 1rem;
    transition: .5s ease;
}

.noot-box:hover .quote-one {
    color: #ff7468;
}

.noot-box:hover .quote-two {
    color: #ff7468;
}

.noot-box .title {
    overflow: hidden;
    font-size: 2rem;
    color: #3e3e3e;
    font-weight: bold;
    line-height: 1;
    max-height: 40px;
    line-height: 1.1;
    padding: .1rem .2rem .2rem .2rem;
    transition: .5s ease;
    color: white;
    text-transform: capitalize;
}

.noot-box .sub-title {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: .2rem .2rem .2rem .2rem;
    max-height: 25px;
    line-height: 1.2;
    overflow: hidden;
    transition: .5s ease;
    color: white;
    text-transform: capitalize;
}

.noot-box .ratio {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
}

.noot-box .ratio img {
    width: 100%;
    border-radius: 50%;
}

.studient-note {
    position: relative;
}

.studient-note .owl-nav.disabled {
    display: block !important;
}

.studient-note .owl-nav .owl-next i {
    position: absolute;
    top: -60px;
    right: 0;
    font-size: 2rem;
    color: white;
    border: 1px solid #453d80;
    width: 50px;
    height: 50px;
    padding: .1rem;
    border-radius: 50px;
    transition: .5s ease;
}

.studient-note .owl-nav .owl-next i:hover {
    background: #f5b70a;
}

.studient-note .owl-nav .owl-prev i:hover {
    background: #f5b70a;
}

.studient-note .owl-nav .owl-prev i {
    position: absolute;
    top: -60px;
    right: 60px;
    background: #453d80;
    font-size: 2rem;
    color: white;
    border: 1px solid #453d80;
    width: 50px;
    height: 50px;
    padding: .1rem;
    border-radius: 50px;
    transition: .5s ease;
}


/*===========section six styling end here========*/


/*===========section seven styling start here========*/


/*------section seven--------*/

.content-of-contact {
    background: #FF7468;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-of-contact .title {
    font-size: 2.5rem;
    font-weight: bold;
    max-width: 300px;
    text-align: left;
    color: white;
    transition: .5s ease;
    text-transform: capitalize;
}

.contact-form h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
    transition: .5s ease;
    color: white;
}

.contact-form {
    width: 70% !important;
    background: #000836;
    padding: 1rem;
}

.contact-form .form-group input {
    transition: .5s ease;
}

.contact-form .form-group input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #ff7468 !important;
}

::placeholder {
    text-transform: capitalize;
    font-size: 1rem;
}

.get-it-now {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: .2rem;
    border: none;
    background: #3e3e3e;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    transition: .5s ease;
}

.get-it-now:hover {
    background: #ff7468;
}


/*===========section seven styling end here========*/


/*===========footer styling end here========*/


/*-----footer section------*/

footer {
    background: #000836;
}

.footer-box {
    width: 80%;
    margin: auto;
    color: white;
}

.footer-box .footer-logo a {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    padding: .2rem .2rem .2rem .2rem;
}

.footer-box .text {
    text-align: center;
    font-size: 1rem;
    max-height: 50px;
    text-transform: capitalize;
    overflow: hidden;
    line-height: 1.4;
    padding: .2rem .2rem .2rem .2rem;
    transition: .5s ease;
}

.form-label {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    padding: .2rem .2rem .2rem .2rem;
    max-height: 40px;
    overflow: hidden;
}

.footer-email-box {
    display: flex;
    position: relative;
}

.footer-email-box input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #ff7468 !important;
}

.footer-email-box input {
    height: 45px;
    background: #FFF0E9;
    border: none;
    border-radius: .5rem;
}

.footer-email-box button {
    background: #ff7468;
    border: none;
    border-radius: .5rem;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    margin: auto;
}

.footer-email-box button i {
    margin-top: 4px;
}

.footer-box .title {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.footer-box .links li {
    margin-top: 10px;
}

.footer-box .links li a {
    font-size: 1rem;
    text-transform: capitalizea;
    color: white;
    transition: .5s ease;
}

.footer-box .links li a:hover {
    font-weight: bold;
}

.footer-box .links li {
    margin-top: 10px;
}

.footer-box .links li a {
    font-size: 1rem;
    text-transform: capitalize;
    color: white;
    transition: .5s ease;
    font-weight: bold;
}

.footer-box .address {
    font-size: 1rem;
    text-transform: capitalize;
    max-height: 45px;
    line-height: 1.2;
    padding: .3rem .2rem .2rem .2rem;
    overflow: hidden;
    width: 100%;
}

.footer-box .email {
    margin-top: 10px;
    font-size: 1rem;
    text-transform: capitalize;
    max-height: 30px;
    line-height: 1.2;
    padding: .3rem .2rem .2rem .2rem;
    overflow: hidden;
    width: 100%;
}

.footer-box .phone-number {
    margin-top: 10px;
    font-size: 1rem;
    text-transform: capitalize;
    max-height: 30px;
    line-height: 1.2;
    padding: .3rem .2rem .2rem .2rem;
    overflow: hidden;
    width: 100%;
}

.follow {
    display: flex;
    justify-content: start;
    align-items: center;
}

.follow-label {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
}

.follow ul li {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-left: 10px;
}

.follow ul li a i {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    transition: .5s ease;
}

.follow ul li a:hover i {
    color: #f1706b;
}

.follow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom .container-fluid {
    background: #3e3e3e;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-right-text {
    text-transform: capitalize;
    font-size: 1rem;
    text-align: center;
    color: white;
}


/*===========footer styling end here========*/


/*===========css styling end here========*/

.div-content button:hover {
    background: #000836;
}

.section-title {
    position: relative;
}

.section-title:after {
    content: '';
    display: block;
    width: 12rem;
    margin: auto;
    height: .2rem;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: -150px;
    margin: auto;
    border: 1px solid #000836;
}

.browse-all:hover {
    background: #000836;
}

.view-profile:hover {
    background: #000836;
}

.populer-courses:hover {
    background: #000836;
    color: white;
}

.populer-courses:hover .title {
    color: white;
}

.populer-courses:hover h6 {
    color: white;
}

.populer-courses:hover .rating-box span:nth-child(2) {
    color: white;
}

.populer-courses:hover .course-list a {
    color: black;
}

.copyright .copy-right-text {
    font-weight: bold;
    font-size: .9rem;
    letter-spacing: 1px;
}

.copy-right-text a {
    color: #ff7468;
    transition: .5s ease;
}

.copy-right-text a:hover {
    color: #000836;
}

.teacher-data {
    position: relative;
}

.teacher-data:hover .teacher-social-icon ul {
    opacity: 100%;
}

.teacher-data .ratio {
    position: relative;
}

.teacher-data .ratio:hover .teacher-social-icon {
    left: 0;
    top: 0;
}

.teacher-social-icon {
    position: absolute;
    left: -100%;
    right: 0;
    bottom: 0;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3e3e3e65;
    overflow: hidden;
    transition: .5s ease;
}

.teacher-social-icon li {
    margin-left: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: .5s ease;
}

.teacher-social-icon li a {
    border: 1px solid #d91879;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: white;
    transition: .5s ease;
}

.teacher-social-icon li:hover {
    background: black;
}

.footer-box .links li a:hover {
    color: #ff7468;
    padding: 1rem;
}

.footer-box .title {
    position: relative;
}

.footer-box .title:after {
    content: '';
    display: block;
    width: 10%;
    height: 20%;
    background: #ff7468;
    position: absolute;
    top: 7.6px;
    left: -25px;
    border-radius: 50px;
    transform: rotate(90deg);
}

.footer-box .links li {
    position: relative;
}

.footer-box .links li:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #ff7468;
    position: absolute;
    top: 9px;
    left: -16.5px;
    border-radius: 50px;
    transform: rotate(90deg);
}