@media only screen and (max-width: 991px) {
    .main-navbar {
        background: rgb(69, 61, 128);
    }
    .main-navbar .nav-item {
        margin-left: 0 !important;
        text-align: center;
    }
    .main-navbar .navbar a:hover:before,
    .navbar li:hover>a:before,
    .navbar .active:before {
        visibility: visible;
        width: 10%;
    }
    #signUp {
        width: 200px;
        margin: auto;
    }
}

@media only screen and (max-width: 992px) {
    .hero-elements {
        display: block !important;
    }
    .hero-content {
        margin: auto;
        width: 100% !important;
    }
    .hero-content .sub-title {
        text-align: center;
        width: 100% !important;
    }
    .hero-content .title {
        width: 100% !important;
        text-align: center;
        font-size: 2.5rem !important;
    }
    .hero-btn {
        margin: auto;
        padding-block: 3rem;
    }
}

@media only screen and (max-width: 992px) {
    .hero-card {
        margin: auto;
        width: 300px !important;
    }
    .hero-card-content {
        padding: .5rem 0rem 1rem 1.4rem !important;
    }
    .hero-list-row {
        padding-bottom: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .learning-program {
        display: block !important;
        justify-content: center !important;
    }
    .learning-program .learning-program-list {
        width: 300px;
        margin: 1rem auto !important;
        padding: 1rem 1rem 1rem 1rem;
    }
    .learning-program .learning-program-list:nth-child(1) {
        margin-top: 0 !important;
    }
}