@media only screen and (max-width: 1400px) {
    /*-------main navbar------*/
    .main-navbar .nav-item {
        margin-left: 3rem !important;
    }
}

@media only screen and (max-width: 1399px) {
    .populer-courses .info-box .course-list {
        margin-top: 10px;
    }
    .populer-courses .img-box {
        width: 100%;
    }
    .populer-courses .course-list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .populer-courses .img-box {
        justify-content: space-between !important;
    }
}

@media only screen and (max-width: 991px) {
    .main-navbar {
        background: rgb(69, 61, 128);
    }
    .main-navbar .nav-item {
        margin-left: 0 !important;
        text-align: center;
    }
    .main-navbar .navbar a:hover:before,
    .navbar li:hover>a:before,
    .navbar .active:before {
        visibility: visible;
        width: 10%;
    }
    #signUp {
        width: 200px;
        margin: auto;
    }
    .footer-box {
        text-align: center;
    }
}

@media only screen and (max-width: 992px) {
    .hero-elements {
        display: block !important;
    }
    .hero-content {
        margin: auto;
        width: 100% !important;
    }
    .hero-content .sub-title {
        text-align: center;
        width: 100% !important;
    }
    .hero-content .title {
        width: 100% !important;
        text-align: center;
        font-size: 2.5rem !important;
    }
    .hero-btn {
        margin: auto;
        padding-block: 3rem;
    }
}

@media only screen and (max-width: 992px) {
    .template-card {
        margin: auto;
        width: 300px !important;
    }
    .hero-list-row {
        padding-bottom: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .learning-program {
        display: block !important;
        justify-content: center !important;
    }
    .learning-program .learning-program-list {
        width: 300px;
        margin: 1rem auto !important;
        padding: 1rem 1rem 1rem 1rem;
    }
    .learning-program .learning-program-list:nth-child(1) {
        margin-top: 0 !important;
    }
}

@media only screen and (max-width: 575px) {
    .hero-list-row .col-xl-4 {
        justify-content: center;
    }
    .catagory-slider .owl-next {
        right: -10px !important;
    }
    .catagory-slider .owl-prev {
        left: -10px !important;
    }
}