@media only screen and (max-width: 991px) {
    .main-navbar .nav-item {
        margin-left: 0 !important;
        text-align: center;
    }
    .main-navbar .navbar a:hover:before,
    .navbar li:hover>a:before,
    .navbar .active:before {
        visibility: visible;
        width: 10%;
    }
    #signUp {
        width: 200px;
        margin: auto;
    }
}

@media only screen and (max-width: 991px) {
    .hero-content {
        display: block;
    }
    .hero-content .title {
        font-size: 3rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .hero .row .col-12:nth-child(2) {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .area {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}